.logo{
    font-size: 30px;
  }
  .bars{
    float: left;
    display: flex;
    font-size: 25px;
    margin-left: 50px;
    color: rgb(125, 17, 12);
  }
  .link{
    display: flex;
    color: rgb(125, 17, 12);
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
  }
  
  .link:hover{
    background:#ffff;
    text-decoration: underline;
    transition: all 0.5s;
  }
  .active{
    color: #000;
    text-decoration: underline;
  }
  .icon, .link_text{
    font-size: 20px;
  }