.body{
  display: flex;
  justify-content: center;
  padding-top: 100px;
  height: 100vh;
}
.form_box{
    align-items: center;
    border-radius: 8px;
    border: 1px solid #d8d8da;
    padding: 20px;
    width: 300px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .boxLabel1{
    margin-top: 30px;
    margin-left: 70px;
    margin-bottom: -10px;
  }
  
  .boxLabel2{
    margin-top: 30px;
    margin-left: 70px;
    margin-bottom: -10px;
  }
  
  .boxLabel3{
    margin-top: 30px;
    margin-left: 70px;
    margin-bottom: -10px;
  }
  
  .pointInput{
    width: 50px;
    border-radius: 4px;
    margin-left: 8px;
    padding: 3px;
  }
  
  .pointLabel{
    margin-left: 70px;
    margin-bottom: -30px;
  }
  .point{
    margin-top: 10px;
  }
  
  .checkbox{
    height: 18px;
    margin-left: 50px;
    margin-top: -22px;
    margin-bottom: 20px;
    display: flex;
  }
  
  .assPost{
    border-radius: 6px;
    margin-left: 400px;
    margin-bottom: 10px;
    padding: 3px;
    background-color: rgb(70, 96, 113);
    color: #fff;
    border: none;
  }

  .assCancelBtn{
    border-radius: 3px;
    margin-left: 935px;
    margin-bottom: -34px;
    padding: 5px;
    background-color: rgb(234,234,234);
    color: #2f2d2f;
    border: none;
    display: flex;
  }

  .assTitle{
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .dateLabel{
      display: block;
  }
  .titleInput{
      width: 800px;
      display: block;
    }
  .atch{
    display: block;
    width: 800px;
    height:60px;
  }
  .atchBox{
    margin-top: 30px;
    margin-bottom: 30px;
  }